.card-container {
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: row;
}
.left-container {
  width: 50vw;
  height: 100%;
  padding: 50px;
}
.image-size {
  height: 100%;
  width: 100%;
  background-repeat: none;
}
.right-container {
  width: 50vw;
  height: 100%;
}
